<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Numbers</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<header>
    <h1>Numbers</h1>
</header>

<div class="center">
    <div class="table">
        <div style="width:40%;height:40%; margin-left: 50px; margin-top: 30px; margin-bottom: -190px;">
            <img src="static/instructions-row.png" alt="instruction-row" style="width:400px; ">
        </div>
        <div>
            <p>Each level has 5 rows of the image above. The number on the right is number which you will try to equal when writing your equation.</p>
            <br>
        </div>
        <div>
            <img src="static/instructions-keyboard.png" alt="instruction-row" style="width:100%; height:100%;">
        </div>
        <div>
            <p>Using the onscreen keyboard, you will be able to input numbers and operators into the blocks to solve the equation</p>
            <br>
        </div>
        <div>
            <img src="static/instructions-correct.png" alt="instruction-row" style="width:100%; height:100%;">
        </div>
        <div>
            <p>Example of a correct answer</p>
            <br>
        </div>
        <div>
            <img src="static/instructions-incorrect.png" alt="instruction-row" style="width:100%; height:100%;">
        </div>
        <div>
            <p>Example of an incorrect answer</p>
            <br>
        </div>
        <div>
            <img src="static/badge1.png" alt="badge1" style="width:100px; height:100px;">
            <img src="static/badge2.png" alt="badge2" style="width:100px; height:100px;">
            <img src="static/badge3.png" alt="badge3" style="width:100px; height:100px;">
        </div>
        <div>
            <p>Earn badges as you progress in the game!</p>
            <br>
        </div>
    </div>
    <p class="text-center"><a href="{{('./')}}"><button class="button" onclick="history.back()" type="button" style="margin-top:20px;">Back</button></a>   </p>
</div>
</body>
</html>